

:root{
    --color-neutrol-10:#0d1117;
    --color-neutrol-20:#161b22;
    --color-neutrol-30:#21262d;
    --color-neutrol-40:#30363d;
    --color-neutrol-50:#8b949e;
    --color-neutrol-60:#c9d1d9;
    --colo